@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* general styles */
body {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #141e30, #243b55);
}

html{
    font-family: "Saira", serif;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    display: none;
}

/*the main card styles*/
section {
    width: 40vw;
    height: 70vh;
    background-color: white;
    border-radius: 2.5%;
    box-shadow: 14px 13px 36px 4px rgba(0, 0, 0, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*the title styles*/
.title {
    color: white;
    font-size: 2rem;
    display: inline-block;
    padding: 0.7rem 1.3rem;
    background: #243b55; /* Solid color */
    border-radius: 24px;
    margin-top: 2rem;
    transition: background-color 1s ease;
}

.title:hover {
    background-color: #141e30;
}
/*the input styles*/
/*    the background styles*/
.inp{
    width: 75%;
    height: fit-content;
    background-color: #CED5DD;
    border-radius: 12px;
    padding: 1rem;
    transition: box-shadow 0.2s linear , transform 0.2s linear;
}

.inp:hover{
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 25%);
}

.inp:active{
    transform: scale(99%);
}
/* center the items*/
form{
    display: flex;
    flex-direction: column;
}
/*the input text styles*/
#iputext{
    width: 100%;
    margin-right: auto;
    border: none;
    background: none;
    font-family: "Saira", serif;
    font-size: 1rem;
}
#iputext:focus-visible{
    outline: none;
}
/*the submit button styles*/
#ipusubmit{
    margin-left: auto;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    background: #243b55;
    color: white;
    font-size: 1rem;
    transition: background-color 1s ease;
}

#ipusubmit:hover {
    background-color: #141e30;
}
/*the  list of task*/

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 80%;
    overflow: scroll;
    flex-grow: 2;
    padding: 0.3rem;

}

li {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: box-shadow 0.2s linear, transform 0.2s linear;
}

li:hover{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 25%);
}
lI:active{
    transform: scale(99%);
}
li p {
    flex-grow: 2;
}
.delete {
    padding: 1rem;
    width: 1rem;
    height: 1rem;
}

.check {
    padding: 1rem;
    width: 1rem;
    height: 1rem;
}